body {
  margin: 20px;
    font-family: arial;
}

header{
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 10px;
    background-color: lightgray;
}



* {
  box-sizing: border-box;
}

#wrapper {
  border: 2px dotted slategray;
  width: 800px;
  margin: 0 auto;
    padding: 15px;
    
}

img{
     border: 2px dotted slategray;
    padding: 10px 10px 10px 10px;
    float: left;
    margin-right: 10px;
    clear:both;
}


footer{
    border: 2px dotted slategray;
     margin-bottom: 5px;
    font-family: arial;
}

footer h4{
    
    margin: 0 0 10px 0;
}

nav > a{
    text-decoration: none;
    color: white;
    padding: 10px 20px 10px 20px;
    background-color: darkslategray;
    border-radius: 6px;
    display: inline-block;
}

.botnav{
    color: gray;
    padding: 10px 10px 10px 10px;
}

