body{
    background: black;
}

.fontcolor{
    font-family: arial;
    color: white;
}

.fontsize{
    font-size: 48px;
    
}

.footer{
    font-family: arial;
    color:grey;
    font-size: 10px;
}

li { list-style: none; }


a:visited {
    color: aquamarine;
}

a:link {
    text-decoration: none;
    color:azure;
}

a:hover{
    color:darkcyan;
}

.sectionbkg{
    background-color: lightgrey;
}

#navbkg{
    background-color: aliceblue;
    
}