/* Global */

body{
    background: black;
}

.header{
    font-family: arial;
    color: white;
    font-size: 48px;
}

.paragraph{
    font-family: arial;
    color: white;
}

.list{
    font-family: arial;
    color: white;
}


.footer{
    font-family: arial;
    color:grey;
    font-size: 10px;
}


li { 
    list-style: none; 
}

/*Navigation*/


a:link{
    text-decoration: none;
    color: darkcyan;
}


a:visited{
    color: darkgray;
}

a:hover{
    color: aquamarine;
}

.navigation{
    
    font-family: arial;
    font-size: 20px;
    height: 75px;
    width: 0px;
    margin-top: 50px;
    margin-left: 50px;

}
/* section/nav backgrounds*/

.sectionbkg{
    background-color: darkslategray;
}

#navbkg{
    background-color: dimgray;
}

/*attribute selctors*/

