/* Global */

body{
    background: black;
}

.fontcolor{
    font-family: arial;
    color: white;
}

.fontsize{
    font-size: 48px;
    
}

.footer{
    font-family: arial;
    color:grey;
    font-size: 10px;
}

li { 
    list-style: none; 
}

/*Navigation*/


a:link {
    text-decoration: none;
    color:darkcyan;
}

a:hover{
    color:cyan;
}

a:visited {
    color: aquamarine;
}

/* section/nav backgrounds*/

.sectionbkg{
    background-color: darkslategrey;
}

#navbkg{
    background-color: dimgray;
}